VITE_PAYMENT_BANK_NAME="[Bank Name]"
VITE_PAYMENT_ROUTING_NUMBER="[Routing Number]"
VITE_PAYMENT_ACCOUNT_NUMBER="[Account Number]"
VITE_PAYMENT_ETHEREUM_NETWORK="Ethereum Mainnet"
VITE_PAYMENT_ETHEREUM_ADDRESS="[Ethereum Address]"
VITE_PAYMENT_ZELLE_PHONE="[Zelle Phone]"
TOGGL_API_TOKEN="[Toggl API Token]"
TOGGL_WORKSPACE_ID="[Toggl Workspace ID]"
